In [13]:
import dart_fss as dart
import pandas as pd
import numpy as np




api_key='d25b7c95ca20f23311635a1d6d2e603faaaeebda'

dart.set_api_key(api_key)

'd25b7c95ca20f23311635a1d6d2e603faaaeebda'

In [33]:
crp_list = dart.get_corp_list()

# 삼성전자
samsung = crp_list.find_by_corp_name('삼성전자')[0]

In [34]:
samsung

[00126380]삼성전자

fs=samsung.extract_fs(bgn_de='20120101',report_tp='half')

fs.save(path=r'C:\Users\32442\OneDrive\바탕 화면\재무제표')

def bs(fs):
    df_is=fs['is'].T.reset_index() #손익계산서
    df_bs=fs['bs'].T.reset_index() #재무상태표
    df_cf=fs['cf'].T.reset_index() #현금흐름표
    df_cis=fs['cis'].T.reset_index() #현금흐름표
    
    
    
    #손익계산서 전처리
    df_is=df_is.drop('level_1',axis=1)
    df_is=df_is.drop([0,2,3,4,5],axis=0)
    df_is.loc[1,'level_0']='날짜'
    df_is.columns=df_is.loc[1].tolist()
    df_is=df_is.drop(1,axis=0)
    df_is=df_is.set_index('날짜')
    df_is.index=pd.date_range(start='2012-01-01',
                              periods=len(df_is.index.tolist()),
                              freq='3M')
    
    df_is=df_is.replace(',','')

In [417]:
fs

{'bgn_de': '20120101',
 'corp_code': '00126380',
 'end_de': None,
 'financial statement': [{'title': '[D210000] Statement of financial position, '
                                   'current/non-current - Consolidated '
                                   'financial statements (Unit: KRW)'},
                         {'title': '[D310000] Income statement, by function of '
                                   'expense - Consolidated financial '
                                   'statements (Unit: KRW)'},
                         {'title': '[D410000] Statement of comprehensive '
                                   'income - Consolidated financial statements '
                                   '(Unit: KRW)'},
                         {'title': '[D520000] Statement of cash flows, '
                                   'indirect method - Consolidated financial '
                                   'statements (Unit: KRW)'}],
 'lang': 'ko',
 'report_tp': 'half',
 'separate': False,
 'separator': True}

In [563]:
df_is=fs['is'].T.reset_index() #손익계산서
df_bs=fs['bs'].T.reset_index() #재무상태표
df_cf=fs['cf'].T.reset_index() #현금흐름표
df_cis=fs['cis'].T.reset_index() #현금흐름표
df_is=df_is.drop('level_1',axis=1)
df_is=df_is.drop([0,2,3,4,5],axis=0)

###  손익계산서

In [564]:
#손익계산서 전처리

df_is.loc[1,'level_0']='날짜'
df_is.columns=df_is.loc[1].tolist()
df_is=df_is.drop(1,axis=0)
df_is=df_is.sort_values(by="날짜")
#df_is=df_is.set_index('날짜')
#df_is.index=pd.date_range(start='2012-01-01',
#                              periods=len(df_is.index.tolist()),
#                              freq='3M')
#df_is=df_is.T

df_is['start']=df_is['날짜'].str.partition('-')[0]
df_is['end']=df_is['날짜'].str.partition('-')[2]
df_is=df_is.sort_values(by=["start","end"])


df_is=df_is.drop([37,36],axis=0)
df_is['start']=pd.to_datetime(df_is['start'])
df_is['end']=pd.to_datetime(df_is['end'])

df_is=df_is.drop('날짜',axis=1)


for i in range(35,6,-1):
    if df_is.loc[i,"start"].month ==4:
        df_is=df_is.drop(i,axis=0)
        
        
for i in range(35,5,-3):
    df_is.loc[i-1,:]=df_is.loc[i-1,:]-df_is.loc[i,:]
    
    
df_is=df_is.drop(['start','end'],axis=1)



df_is.index=pd.date_range(start='2011-01-01',
                              periods=df_is.shape[0],
                              freq='6M')

In [565]:
df_is.head()

,수익(매출액),매출원가,매출총이익,판매비와관리비,영업이익,기타수익,기타비용,지분법이익,금융수익,금융비용,법인세비용차감전순이익(손실),법인세비용,계속영업이익(손실),당기순이익(손실),지배기업의 소유주에게 귀속되는 당기순이익(손실),비지배지분에 귀속되는 당기순이익(손실),기본주당이익(손실),희석주당이익(손실)
2011-01-31,"76,423,871,000,000.0","52,881,565,000,000.0","23,542,306,000,000.0","12,165,051,000,000.0","6,700,416,000,000.0",NaN,NaN,"786,267,000,000.0","2,641,812,000,000.0","2,576,151,000,000.0","7,552,344,000,000.0","1,261,242,000,000.0","6,291,102,000,000.0","6,291,102,000,000.0","6,171,601,000,000.0","119,501,000,000.0","41,104.0","41,020.0"
2011-07-31,"88,577,900,000,000.0","59,263,555,000,000.0","29,314,345,000,000.0","25,047,309,000,000.0","8,943,875,000,000.0",NaN,NaN,"612,927,000,000.0","4,761,713,000,000.0","5,317,270,000,000.0","9,639,574,000,000.0","2,171,633,000,000.0","7,467,941,000,000.0","7,467,941,000,000.0","7,211,044,000,000.0","256,897,000,000.0","48,125.0","48,126.0"
2012-01-31,"92,867,496,000,000.0","60,109,580,000,000.0","32,757,916,000,000.0","20,607,199,000,000.0","12,150,717,000,000.0","760,918,000,000.0","337,075,000,000.0","636,105,000,000.0","4,354,059,000,000.0","4,484,404,000,000.0","13,080,320,000,000.0","2,838,439,000,000.0","10,241,881,000,000.0","10,241,881,000,000.0","9,909,936,000,000.0","331,945,000,000.0","65,874.0","65,823.0"
2012-07-31,"108,236,117,000,000.0","66,542,351,000,000.0","41,693,766,000,000.0","24,795,145,000,000.0","16,898,621,000,000.0","792,071,000,000.0","1,238,950,000,000.0","350,506,000,000.0","3,482,495,000,000.0","3,450,046,000,000.0","16,834,697,000,000.0","3,231,293,000,000.0","13,603,404,000,000.0","13,603,404,000,000.0","13,275,439,000,000.0","327,965,000,000.0","88,146.0","88,127.0"
2013-01-31,"110,332,543,000,000.0","65,720,774,000,000.0","44,611,769,000,000.0","26,301,628,000,000.0","18,310,141,000,000.0","577,152,000,000.0","588,522,000,000.0","390,251,000,000.0","4,258,664,000,000.0","4,074,421,000,000.0","18,873,265,000,000.0","3,944,513,000,000.0","14,928,752,000,000.0","14,928,752,000,000.0","14,551,934,000,000.0","376,818,000,000.0","96,546.0","96,506.0"

2011년 1월부터 2021년 까지 반기 손익계산서

### 불러온 자료는 멀티 컬럼으로 지정되어 있어서 transform  시킨다음 reset_index 시키고 전처리 단계 <br/> 자료는 연결 재무제표 기준

### 재무상태표 전처리

In [566]:
df_bs=df_bs.drop('level_1',axis=1)
df_bs=df_bs.drop([0,2,3,5,6,7],axis=0)



asset=df_bs.loc[4,:]=='자산 [abstract]'
asset[asset].index

df_bs.loc[1,'level_0']="계정"
df_bs.loc[4,'level_0']="분류"

df_bs=df_bs.set_index('level_0')

df_bs.columns=df_bs.loc['계정',:].tolist()
df_bs=df_bs.drop('계정',axis=0)
df_bs=df_bs.sort_index()
df_bs=df_bs.drop(['20091231','20101231'])





#자산 항목
asset=df_bs.loc['분류',:]=='자산 [abstract]'
asset=df_bs.loc[:,asset[asset].index.tolist()]
asset=asset.drop('분류',axis=0)
asset.index=pd.to_datetime(asset.index)
asset=asset

#자본 항목
capital=df_bs.loc['분류',:]=='자본 [abstract]'
capital=df_bs.loc[:,capital[capital].index.tolist()]
capital=capital.drop('분류',axis=0)
capital.index=pd.to_datetime(capital.index)
capital=capital



#부채항목
lia=df_bs.loc['분류',:]=='부채 [abstract]'
lia=df_bs.loc[:,lia[lia].index.tolist()]
lia=lia.drop('분류',axis=0)
lia.index=pd.to_datetime(lia.index)
lia=lia



#df_bs.loc[1,'level_0']='날짜'
#df_bs.columns=df_is.loc[1].tolist()
#df_is=df_is.drop(1,axis=0)
#df_is=df_is.set_index('날짜')

In [561]:
asset

,유동자산,현금및현금성자산,단기금융상품,단기상각후원가금융자산,단기당기손익-공정가치금융자산,매출채권,미수금,선급비용,재고자산,기타유동자산,...,상각후원가금융자산,기타포괄손익-공정가치금융자산,당기손익-공정가치금융자산,관계기업 및 공동기업 투자,유형자산,무형자산,순확정급여자산,이연법인세자산,기타비유동자산,자산총계
level_0,,,,,,,,,,,,,,,,,,,,,
2011-12-31,"71,502,063,000,000.0","14,691,761,000,000.0","11,529,905,000,000.0",NaN,NaN,"21,882,127,000,000.0","2,270,901,000,000.0","2,329,463,000,000.0","15,716,715,000,000.0","988,934,000,000.0",...,NaN,NaN,NaN,"9,204,169,000,000.0","62,043,951,000,000.0","3,355,236,000,000.0",NaN,"1,783,086,000,000.0","1,233,955,000,000.0","155,800,263,000,000.0"
2012-06-30,"73,460,248,000,000.0","15,521,957,000,000.0","7,828,604,000,000.0",NaN,NaN,"24,117,378,000,000.0","2,835,376,000,000.0","2,368,952,000,000.0","17,443,032,000,000.0","1,309,035,000,000.0",...,NaN,NaN,NaN,"8,996,920,000,000.0","68,839,598,000,000.0","3,672,924,000,000.0",NaN,"2,373,457,000,000.0","698,481,000,000.0","166,300,009,000,000.0"
2012-12-31,"87,269,017,000,000.0","18,791,460,000,000.0","17,397,937,000,000.0",NaN,NaN,"23,861,235,000,000.0","2,813,361,000,000.0","2,262,234,000,000.0","17,747,413,000,000.0","1,462,075,000,000.0",...,NaN,NaN,NaN,"8,785,489,000,000.0","68,484,743,000,000.0","3,729,705,000,000.0",NaN,"2,516,080,000,000.0","1,541,882,000,000.0","181,071,570,000,000.0"
2013-06-30,"104,790,421,000,000.0","17,924,523,000,000.0","27,803,504,000,000.0",NaN,NaN,"27,107,950,000,000.0","2,478,870,000,000.0","2,724,308,000,000.0","21,561,790,000,000.0","2,151,699,000,000.0",...,NaN,NaN,NaN,"9,008,429,000,000.0","70,398,274,000,000.0","4,062,029,000,000.0",NaN,"2,543,688,000,000.0","2,808,688,000,000.0","203,761,612,000,000.0"
2013-12-31,"110,760,271,000,000.0","16,284,780,000,000.0","36,722,702,000,000.0",NaN,NaN,"24,988,532,000,000.0","2,887,402,000,000.0","2,472,950,000,000.0","19,134,868,000,000.0","2,135,589,000,000.0",...,NaN,NaN,NaN,"6,422,292,000,000.0","75,496,388,000,000.0","3,980,600,000,000.0",NaN,"4,621,780,000,000.0","3,089,524,000,000.0","214,075,018,000,000.0"
2014-06-30,"112,799,670,000,000.0","16,057,574,000,000.0","41,692,883,000,000.0",NaN,NaN,"24,432,856,000,000.0","2,215,041,000,000.0","3,379,484,000,000.0","18,276,064,000,000.0","2,088,899,000,000.0",...,NaN,NaN,NaN,"6,904,622,000,000.0","75,593,653,000,000.0","4,220,289,000,000.0",NaN,"4,814,124,000,000.0","4,348,372,000,000.0","224,723,074,000,000.0"
2014-12-31,"115,146,026,000,000.0","16,840,766,000,000.0","41,689,776,000,000.0",NaN,NaN,"24,694,610,000,000.0","3,539,875,000,000.0","3,346,593,000,000.0","17,317,504,000,000.0","1,795,143,000,000.0",...,NaN,NaN,NaN,"5,232,461,000,000.0","80,872,950,000,000.0","4,785,473,000,000.0",NaN,"4,526,595,000,000.0","2,334,818,000,000.0","230,422,958,000,000.0"
2015-06-30,"115,789,651,000,000.0","17,865,256,000,000.0","38,858,419,000,000.0",NaN,NaN,"25,578,142,000,000.0","2,591,286,000,000.0","3,499,521,000,000.0","19,311,159,000,000.0","1,112,133,000,000.0",...,NaN,NaN,NaN,"5,303,043,000,000.0","84,666,258,000,000.0","5,530,413,000,000.0",NaN,"4,599,808,000,000.0","2,188,892,000,000.0","231,690,886,000,000.0"
2015-12-31,"124,814,725,000,000.0","22,636,744,000,000.0","44,228,800,000,000.0",NaN,NaN,"25,168,026,000,000.0","3,352,663,000,000.0","3,170,632,000,000.0","18,811,794,000,000.0","1,035,460,000,000.0",...,NaN,NaN,NaN,"5,276,348,000,000.0","86,477,110,000,000.0","5,396,311,000,000.0",NaN,"5,589,108,000,000.0","1,999,038,000,000.0","242,179,521,000,000.0"
2016-06-30,"130,163,049,000,000.0","25,840,759,000,000.0","47,449,558,000,000.0",NaN,NaN,"26,081,803,000,000.0","2,942,063,000,000.0","3,681,883,000,000.0","17,858,721,000,000.0","888,206,000,000.0",...,NaN,NaN,NaN,"3,942,525,000,000.0","84,634,963,000,000.0","5,247,797,000,000.0",NaN,"5,331,307,000,000.0","1,874,046,000,000.0","243,960,673,000,000.0"
2016-12-31,"141,429,704,000,000.0","32,111,442,000,000.0","52,432,411,000,000.0",NaN,NaN,"24,279,211,000,000.0","3,521,197,000,000.0","3,502,083,000,000.0","18,353,503,000,000.0","1,315,653,000,000.0",...,NaN,NaN,NaN,"5,837,884,000,000.0","91,473,041,000,000.0","5,344,020,000,000.0","557,091,000,000.0","5,321,450,000,000.0","1,572,027,000,000.0","262,174,324,000,000.0"
2017-06-30,"132,172,681,000,000.0","29,007,086,000,000.0","37,796,229,000,000.0",NaN,NaN,"27,585,923,000,000.0","3,197,546,000,000.0","3,705,124,000,000.0","23,020,912,000,000.0","1,521,698,000,000.0",...,NaN,NaN,NaN,"5,814,880,000,000.0","103,695,240,000,000.0","15,221,308,000,000.0","302,335,000,000.0","5,368,206,000,000.0","4,248,376,000,000.0","277,589,436,000,000.0"
2017-12-31,"146,982,464,000,000.0","30,545,130,000,000.0","49,447,696,000,000.0",NaN,NaN,"27,695,995,000,000.0","4,108,961,000,000.0","3,835,219,000,000.0","24,983,355,000,000.0","1,421,060,000,000.0",...,NaN,NaN,NaN,"6,802,351,000,000.0","111,665,648,000,000.0","14,760,483,000,000.0","825,892,000,000.0","5,061,687,000,000.0","7,794,634,000,000.0","301,752,090,000,000.0"
2018-06-30,"156,976,839,000,000.0","31,362,222,000,000.0","48,717,141,000,000.0","3,896,630,000,000.0",NaN,"35,013,060,000,000.0","3,133,430,000,000.0","4,195,934,000,000.0","27,358,767,000,000.0","1,794,196,000,000.0",...,"242,269,000,000.0","7,436,535,000,000.0","650,775,000,000.0","6,894,955,000,000.0","116,576,140,000,000.0","14,999,464,000,000.0","458,843,000,000.0","5,006,713,000,000.0","5,823,924,000,000.0","318,688,380,000,000.0"
2018-12-31,"174,697,424,000,000.0","30,340,505,000,000.0","65,893,797,000,000.0","2,703,693,000,000.0","2,001,948,000,000.0","33,867,733,000,000.0","3,080,733,000,000.0","4,136,167,000,000.0","28,984,704,000,000.0","3,688,144,000,000.0",...,"238,309,000,000.0","7,301,351,000,000.0","775,427,000,000.0","7,313,206,000,000.0","115,416,724,000,000.0","14,891,598,000,000.0","562,356,000,000.0","5,468,002,000,000.0","12,692,847,000,000.0","339,357,244,000,000.0"
2019-06-30,"173,433,478,000,000.0","27,531,931,000,000.0","60,705,062,000,000.0","3,646,364,000,000.0","1,687,030,000,000.0","36,061,645,000,000.0","3,513,607,000,000.0","4,756,440,000,000.0","31,246,985,000,000.0","2,680,696,000,000.0",...,"910,299,000,000.0","8,466,918,000,000.0","837,424,000,000.0","7,389,834,000,000.0","116,624,189,000,000.0","15,543,025,000,000.0","201,584,000,000.0","5,420,125,000,000.0","9,668,581,000,000.0","342,940,134,000,000.0"
2019-12-31,"181,385,260,000,000.0","26,885,999,000,000.0","76,252,052,000,000.0","3,914,216,000,000.0","1,727,436,000,000.0","35,131,343,000,000.0","4,179,120,000,000.0","2,406,220,000,000.0","26,766,464,000,000.0","4,122,410,000,000.0",...,0.0,"8,920,712,000,000.0","1,049,004,000,000.0","7,591,612,000,000.0","119,825,474,000,000.0","20,703,504,000,000.0","589,832,000,000.0","4,505,049,000,000.0","7,994,050,000,000.0","352,564,497,000,000.0"
2020-06-30,"186,136,845,000,000.0","36,109,613,000,000.0","75,127,611,000,000.0","1,224,565,000,000.0","582,641,000,000.0","32,989,762,000,000.0","3,702,782,000,000.0","2,572,807,000,000.0","29,645,529,000,000.0","2,695,133,000,000.0",...,NaN,"9,511,923,000,000.0","1,128,261,000,000.0","7,693,878,000,000.0","124,294,578,000,000.0","19,608,254,000,000.0","184,409,000,000.0","4,441,779,000,000.0","4,959,572,000,000.0","357,959,499,000,000.0"
2020-12-31,"198,215,579,000,000.0","29,382,578,000,000.0","92,441,703,000,000.0","2,757,111,000,000.0","71,451,000,000.0","30,965,058,000,000.0","3,604,539,000,000.0","2,266,100,000,000.0","32,043,145,000,000.0","3,754,462,000,000.0",...,0.0,"12,575,216,000,000.0","1,202,969,000,000.0","8,076,779,000,000.0","128,952,892,000,000.0","18,468,502,000,000.0","1,355,502,000,000.0","4,275,000,000,000.0","5,113,279,000,000.0","378,235,718,000,000.0"

### 현금흐름표

In [568]:
df_cf=df_cf.drop('level_1',axis=1)
df_cf=df_cf.drop([0,2,3,5,6],axis=0)
df_cf.loc[1,'level_0']='내용'
df_cf.loc[4,'level_0']='구분'




df_cf=df_cf.sort_values(by="level_0")

name=[]

for i,j in zip(df_cf.loc[4,:].tolist(),df_cf.loc[1,:].tolist()):
              name.append(i[0:4]+j)
        
        
df_cf.columns=name
df_cf=df_cf.drop([1,4],axis=0)

df_cf=df_cf.sort_values(by="구분내용")

df_cf['start']=df_cf['구분내용'].str.partition('-')[0]
df_cf['end']=df_cf['구분내용'].str.partition('-')[2]
df_cf=df_cf.sort_values(by=["start","end"])

df_cf['start']=pd.to_datetime(df_cf['start'])
df_cf['end']=pd.to_datetime(df_cf['end'])


df_cf=df_cf.drop([28,27],axis=0)

df_cf=df_cf.sort_values(by=["start","end"])

df_cf=df_cf.drop('구분내용',axis=1)


for i in range(26,7,-2):
    df_cf.loc[i-1,:]=df_cf.loc[i-1,:]-df_cf.loc[i,:]
    
    
df_cf=df_cf.drop(['start','end'],axis=1)



df_cf.index=pd.date_range(start='2011-01-01',
                              periods=df_cf.shape[0],
                              freq='6M')

In [543]:
df_bs.to_csv(r"C:\Users\32442\OneDrive\바탕 화면\재무제표\삼성전자재무상태표.csv",encoding='euc-kr')

In [571]:
df_is.to_csv(r"C:\Users\32442\OneDrive\바탕 화면\재무제표\삼성전자손익계산서.csv",encoding='euc-kr')
df_cf.to_csv(r"C:\Users\32442\OneDrive\바탕 화면\재무제표\삼성전자현금흐름표.csv",encoding='euc-kr')
asset.to_csv(r"C:\Users\32442\OneDrive\바탕 화면\재무제표\삼성전자자산.csv",encoding='euc-kr')
capital.to_csv(r"C:\Users\32442\OneDrive\바탕 화면\재무제표\삼성전자자본.csv",encoding='euc-kr')
lia.to_csv(r"C:\Users\32442\OneDrive\바탕 화면\재무제표\삼성전자채무.csv",encoding='euc-kr')